<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />

    <add key="operacion_pago_servicio" value="100" />
    <add key="tipo_operacion_pago_servicio" value="100" />
    <add key="operacion_pago_servicio_mensaje" value="Registaro con exito" />
    
    
    
  </appSettings>
  <system.web>
    <customErrors mode="Off"></customErrors>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    
    <bindings>
      <basicHttpBinding>
        <binding name="configBasicBinding" bypassProxyOnLocal="false" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="configWsBinding"  >
          <security mode="None">
            <transport ></transport>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="UPC.SD.PagoServicio.BL.PagoServicio" behaviorConfiguration="ServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="configBasicBinding"
          name="EndpointWS" contract="UPC.SD.PagoServicio.BL.IPagoServicio"  />

      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>

    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
