<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>


    <bindings>
      <basicHttpBinding>
        <binding name="configBasicBinding" bypassProxyOnLocal="false" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="configWsBinding"  >
          <security mode="None">
            <transport ></transport>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    
    <services>
      <service  name="UPC.SD.GestionRestaurante.BL.GestionRestaurante" behaviorConfiguration="ServiceBehaviour">
        <endpoint binding="basicHttpBinding" bindingConfiguration="configBasicBinding"
          name="EndpointWS"
          contract="UPC.SD.GestionRestaurante.BL.IGestionRestaurante">

        </endpoint>
        
        <endpoint binding="basicHttpBinding" bindingConfiguration="configBasicBinding"
        name="EndpointAppi" 
        contract="UPC.SD.GestionRestaurante.BL.IGestionRestauranteAppi">

        </endpoint>

      </service>
      
      
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>

    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>